<div class="row">
  <div class="col-12 col-md-4 mb-4 pt-4" *ngFor="let product of products">
    <!-- thumbnail -->
    <img [src]="product.imageUrl" [alt]="product.name" class="product-thumb d-block mb-3 rounded border border-2"
      loading="eager" />

    <!-- row: name + button snug together -->
    <div class="d-flex gap-2 align-items-baseline">
      <span style="font-size: 24px; font-weight: 500;">
        {{ product.name }}
      </span>
      <span class="text-muted" style="font-size: small;">
        ${{ product.price | number:'1.0-2' }}
      </span>
    </div>

    <!-- small muted price below -->
    <div class="pt-2 align-items-center">
      <app-add-to-cart [product]="product"></app-add-to-cart>
    </div>
  </div>


</div>